@import "../../scss/variables";
@import "../../scss/animations";

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  height: calc(100% - 66px);
  padding: 29px;
  padding-bottom: 40px;
  margin: 20px 40px;
  margin-bottom: 46px;

  background-image: url("../../assets/img/hintBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  &__animation {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;

    &_shipHandYellow {
      background-image: url("../../assets//img/animationYellow1-5.png");
      width: 147px;
      height: 284px;
      animation: bubbleClickYellow 1s infinite;
    }

    &_shipHandGreen {
      background-image: url("../../assets//img/animationGreen1-5.png");
      width: 147px;
      height: 284px;
      animation: bubbleClickGreen 1s infinite;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 66px;

    &_text {
      font-family: $font-family;
      font-weight: 400;
      font-size: 12px;
      line-height: 167%;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
    }
  }
}
