@import "../../scss/animations";
@import "../../scss/variables";
@import "../../scss/mixins";

.root {
  position: absolute;
  width: 148px;
  height: 148px;
  left: -$widthShip;

  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;

  @for $i from 1 through $iterationAnimationFly {
    &_#{$i} {
      animation: shipFly-#{$i} 10s linear normal forwards;
      // animation: shipFly-#{$i} 2s linear #{$i}s normal forwards; random($limit: 1) + s
    }
  }

  &::after {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
  }
}

.bigPhrase {
  &::after {
    @include speech-balloon-text;
    @include speech-balloon-position;
    @include speech-balloon-text-position;

    width: 165px;
    height: 130px;
    background-image: url("../../assets/img/textBox2_2.png");
  }
}

.smallPhrase {
  &::after {
    @include speech-balloon-text;
    @include speech-balloon-position;
    @include speech-balloon-text-position;

    width: 217px;
    height: 87px;
    background-image: url("../../assets/img/textBox1_2.png");
  }
}

.tap {
  animation: shipTap 1s linear normal forwards;
}

.goodTap {
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 148px;
    height: 148px;
    background-color: transparent;
    background-image: url("../../assets/img/bubble.png");
  }
}

.badTap {
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 148px;
    height: 148px;
    background-color: transparent;
    background-image: url("../../assets/img/bubbleFault.png");
  }
}
