@import "./variables";

@keyframes wiggle {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  16% {
    -webkit-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
  }
  32% {
    -webkit-transform: translate(-5px, 5px);
    transform: translate(-5px, 5px);
  }
  49% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  68% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
  }
  84% {
    -webkit-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
}

@keyframes bubbleClickGreen {
  0%,
  100% {
    background-image: url("../assets/img/animationGreen1-5.png");
  }
  25% {
    background-image: url("../assets/img/animationGreen2.png");
  }
  50% {
    background-image: url("../assets/img/animationGreen3.png");
  }
  75% {
    background-image: url("../assets/img/animationGreen4.png");
  }
}

@keyframes bubbleClickYellow {
  0%,
  100% {
    background-image: url("../assets/img/animationYellow1-5.png");
  }
  25% {
    background-image: url("../assets/img/animationYellow2.png");
  }
  50% {
    background-image: url("../assets/img/animationYellow3.png");
  }
  75% {
    background-image: url("../assets/img/animationYellow4.png");
  }
}

@for $i from 1 through $iterationAnimationFly {
  @keyframes shipFly-#{$i} {
    0% {
      left: -$widthShip;
      top: random(60) / 100 * 100%;
    }
    50% {
      left: random(60) / 100 * 100%;
      top: random(60) / 100 * 100%;
    }
    100% {
      left: 100%;
      top: random(60) / 100 * 100%;
      display: none;
    }
  }
}

@keyframes shipTap {
  0% {
  }
  25% {
    -webkit-transform: translateY(-12.5vh) translateX(10%);
    transform: translateY(-12.5vh) translateX(10%);
  }
  50% {
    -webkit-transform: translateY(-25vh) translateX(-10%);
    transform: translateY(-25vh) translateX(-10%);
  }
  75% {
    -webkit-transform: translateY(-37.5vh) translateX(10%);
    transform: translateY(-37.5vh) translateX(10%);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: translateY(-50vh) translateX(-10%);
    transform: translateY(-50vh) translateX(-10%);
    opacity: 0;
    display: none;
  }
}
